<div class="col-sm-6">
	<% page_header('Your matches') %>
	<% if @matches && @matches.any? %>
	<table class="table table-striped table-hover">
		<% @matches.each do |match| %>
		<tr>
			<td>
				<%= link_to match.started_at.localtime.strftime('%d %b %Y, %H:%M'), match_path(match), :remote => true, :data => { :target => "#show_match"} %>

			</td>
		</tr>
		<% end %>
	</table>
	<div class="digg_pagination">
		<%= will_paginate @matches %>
	</div>
	<% end %>
</div>

<div class="col-sm-6 well" id="show_match">

	<div class="jumbotron">
	<h4><center>Click on match to see details here.</center></h4>
	</div>
</div>
